* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 25px Helvetica, Arial;
  color: white;
  background-color: #000000;
}
form {
  background: rgb(0, 0, 0);
  border-top: 3px solid white;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form input {
  border: none;
  color: white;
  font-size: 10px;
  background: black;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
input::placeholder {
  color: white;
  font-size: 10px;
}
input:focus {
  outline: none;
}
form button {
  width: 9%;
  border-left: 3px solid white;
  margin: -3px;
  color: white;
  background: #000000;
  padding: 10px;
}
#messages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.others-message-wrapper {
  max-width: 70%;
  align-items: flex-start;
  background-color: black;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 5px auto 5px 5px;
}

.my-message-wrapper {
  max-width: 70%;
  align-items: flex-end;
  background-color: black;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 5px 5px 5px auto;
}
